.pageTitle{
    color:blue;
    text-align: center;
    
}

.month {
    text-align: center;
    font-size: xx-large;
}

#days ul{
    text-align: center;

}
/*horiz. list -> https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/ */
#days li{
    display: inline;
    list-style-type: none;

}